@import './/utilsScss/reset.scss';

*,
::after,
::before {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: burlywood;
  font-family: 'Poppins', sans-serif;
  padding: 100px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
  padding: 30px;
}
